

body{
    background-color: rgba(181, 169, 101, 0.618) 
}

#Header {
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    line-height: 0px;
    margin-top: 5rem;
    margin-left: auto;
    margin-bottom: -1rem;
    margin-right: auto;
  }

  nav.menu {
    background-color: #333;
    display: flex;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
   }
  nav.menu a {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
  }
  

.slider{
    display: flex;
    
    width: 300px;
    height: auto;
    margin-top: 1rem;
  }
  .slider1{
    display:flex;
    width: 300px;
    height: auto;
    margin-top: 1rem;
  }


.avatar.proportioned{
    height: auto;
    width: 300px;
  }
 
#busqueda{
    
    color: white;
    font-size: 10px;
    text-align:right;
    font-weight: bold;
}
  
  .fancy {
    background-color: yellow;
  }

  
